h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.form {
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
}

.new_portfolio_form {
    max-width: 500px;
    margin: 0 auto;
}

p {
    color: #bf1650;
}

p::before {
    display: inline;
    content: "⚠ ";
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.new_portfolio_form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

button[type="submit"],
.new_portfolio_form input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

button[type="submit"]:hover,
.new_portfolio_form input[type="submit"]:hover {
    background: #bf1650;
}

button[type="submit"]:active,
.new_portfolio_form input[type="button"]:active,
.new_portfolio_form input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.new_portfolio_form input:disabled {
    opacity: 0.4;
}

.new_portfolio_form input[type="button"]:hover {
    transition: 0.3s all;
}

button[type="submit"],
.new_portfolio_form input[type="button"],
.new_portfolio_form input[type="submit"] {
    -webkit-appearance: none;
}
