* {
    box-sizing: border-box;
}
.header {
    /* padding: 0 5%; */
    /* display: flex; */
    /* margin-top: 0px; */
    /* flex: 1; */
}

.header-upper {
    width: 100%;
    line-height: 1.7;
    background-color: #2d1152;
    height: 22px;
}

.header-down {
    height: 35px;
    background: rgb(248, 248, 248);
    background: linear-gradient(
        180deg,
        rgba(248, 248, 248, 1) 0%,
        rgba(235, 233, 239, 1) 100%
    );
    box-shadow: 0px 3px 1.5px #cecece;
    -webkit-box-shadow: 0px 3px 1.5px #cecece;
    -moz-box-shadow: 0px 3px 1.5px #cecece;
    position: relative;
    z-index: 999999;
}

.layout {
    max-width: 1301px;
    margin: auto;
}

.header-vertically-mid {
    padding: 0 5%;
    height: 50px;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: #f8f8f8;
    /* width: 100%; */
}

.header-left {
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    /* display: flex; */
    float: left;
    width: 25%;
    height: 50px;
}

.header-left-logo {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-mid {
    float: left;
    width: 50%;
    overflow: hidden;
    height: 50px;
}

.kakao-image {
    width: 150px;
    position: absolute;
    padding-top: 10px;
    right: 0px;
}

.header-right {
    float: left;
    position: relative;
    width: 25%;
    /* display: flex; */
    /* text-align: right; */
    /* z-index: 999; */
    height: 50px;
}

/* .png {
    fill: red;
} */

.header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: "Yeon Sung", cursive;
    /* width: 400px; */
    overflow: hidden;
    white-space: pre-line;
    font-size: 25px;
    /* font-weight: 200; */
    font-weight: normal;
}
.purple {
    color: #324fe1;
    /* white-space: normal; */
    /* white-space: pre-line; */

    display: inline;
}

/* .header-top_navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
} */
