body {
    margin: 0;
}

main {
    /* margin: 16px; */
}

.navbar {
    display: flex;
    align-items: center;
    background: #13113c;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    padding: 0;
    height: 133px;
    margin-bottom: 0px !important;
}

.brand_img {
    width: 22px;
    height: 22px;
}

.kakao_login {
    width: 120px;
    /* height: 29px; */
}

.navbar__item {
    padding: 16px 22px;
    cursor: pointer;
    vertical-align: middle;
    color: #bcc0d8;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
}

.navbar__item:last-child {
    margin-right: 20px;
}

.navbar__title {
    margin-right: auto;
    /* margin-left: 127px; */
    /* margin-top: 39px; */
    font-size: 20px;
    margin-left: 90px;
    /* padding: 12px 16px; */
    color: white;
}
